@font-face {
  font-family: bangers;
  src: url(bangers-regular.ttf);
}

html {
  font-family: bangers, sans-serif;
}

body {
  background-color: rgb(89, 249, 238);
  font-size: 25px;
}

.hidden {
  display: none;
}
.img-holder {
  margin-top: 32px;
  display: flex;
  justify-content: space-evenly;
}
.photo--0 {
  width: 75px;
  height: 75px;
}
.photo--1 {
  width: 85px;
  height: 85px;
}
.photo--2 {
  width: 100px;
  height: 100px;
}
.btn {
  background-color: darkorange;
  color: black;
  font-size: 50px;
}

/*Text content */
.textcontent {
  display: flex;
  margin-top: 64px;
  justify-content: center;
}
/*main buttons */
.player-selection {
  display: flex;
  justify-content: center;
  margin-top: 64px;
  gap: 96px;
}

.gameover {
  display: flex;
  justify-content: center;
  margin-top: 48px;
}

.scoreboard {
  display: flex;
  justify-content: space-evenly;
}
.scoreboard .user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scoreboard .computer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
